[Unit]
Description=Auto-fix fw_env.config mmc device on first boot
After=local-fs.target
ConditionPathExists=!/var/lib/fw-env-autofix.done

[Service]
Type=oneshot
ExecStart=/usr/bin/var-fw-env-autofix.sh
ExecStartPost=/bin/systemctl disable --now var-fw-env-autofix.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
